<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="top: 0;position: top;">
    <div class="container-fluid">
      <div class="navbar-brand"><img src="../assets/white house logo.png" style="height:40px;border-radius: 25px;" alt="">
      </div>
  
      <div class="name">
        <h1 style="color: rgb(221, 221, 228);text-transform: capitalize;">Alayees Hotel</h1>
      </div>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
  
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Home</a>
          <a class="nav-link" href="#">Menu</a>
          <a class="nav-link" href="#">Reservations</a>
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </div>
      </div>
    </div>
  </nav>