<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: blue;align-items: center;">Navbar</a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link" href="#">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<h1>vvvvv</h1>
<!-- <section class="hero" id="backgroundelement"
    [ngStyle]="{'background-image': 'url(' + backgroundImages[backgroundImageIndex] + ')'}">

    <div class="hero-content">
     
      <h3>Welcome to a place where food is not just a meal but a celebration of flavors, a reflection of our heritage
      </h3>
      <a href="#" class="btn"> Order Your Food And Taste It</a>
    </div>
  </section> -->
