<div class="main">
    <div *ngFor="let Fooditems of Fooditems1" class="card">
        <img src="{{Fooditems.img}}" style="width:100%px;height: 120px;object-fit: fill;" alt="">
        <h4>{{Fooditems.name}}</h4>
        <h6>Price:{{Fooditems.price}}</h6>
    </div>
</div>

<div class="main">
    <div *ngFor="let Fooditems of Fooditems2" class="card">
        <img src="{{Fooditems.img}}" style="width:100%px;height: 120px;object-fit: fill;" alt="">
        <h4>{{Fooditems.name}}</h4>
        <h6>Price:{{Fooditems.price}}</h6>

    </div>
</div>

<div class="main">
    <div *ngFor="let Fooditems of Fooditems3" class="card">
        <img src="{{Fooditems.img}}" style="width:100%px;height: 120px;object-fit: fill;" alt="">
        <h4>{{Fooditems.name}}</h4>
        <h6>Price:{{Fooditems.price}}</h6>

    </div>
</div>